@import "tailwindcss";
@import "../node_modules/swiper/swiper-bundle.css";



.form-label {
  @apply block md:text-base mb-2 font-semibold ;
}

.form-input {
  @apply w-full p-3 text-base text-black rounded-lg border border-gray-300 ;
}
.form-primary-button {
  @apply  text-base  text-white px-4  py-3 font-semibold w-full rounded-md;
}

.form-back-button {
  @apply  text-base   px-4  py-3  font-semibold w-full rounded-md;
}


.container-bd {
  @apply bg-white  rounded-lg p-2 md:p-6;
}

.business-container {
  @apply mx-auto px-4 sm:px-6 lg:px-8 
      w-full max-w-[640px] sm:max-w-[769px]
      md:max-w-[1024px] lg:max-w-[1280px] ;
}
/* .goog-logo-link,
.goog-te-gadget span {
  display: none !important;
} */
.partner-image{
width: 70%;
aspect-ratio: 3/2;
object-fit: contain;
mix-blend-mode: color-burn;
}
#google_translate_element {
  font-size: 0 !important;
  margin: 0;
}

/* body .goog-te-banner-frame.skiptranslate {
  display: none !important;
} */
body {
  top: 0px !important;
}


