@import "tailwindcss";

@theme {
  --color-primary: #037347;
  --color-secondary: #50e3c2;
  --color-text-primary: #1b1a1a;
  --color-text-secondary: #282828;
  --color-active-primary: #0f476c1a;
  --color-inactive: #bcbcbc;
  --color-gray-light: #cdcdcd;
  --color-blue-dark: #28303f;
  --color-dashboard-gray: #e5e5e5;
}

select {
  background-color: white;
  color: black;
}

select option {
  background-color: white;
  color: black;
}
select:focus {
  outline: none; 
  border-color:  #037347;
  box-shadow: 0 0 5px  #fff;
}


select option:checked {
  background-color: #037347; 
  color: white;
}
select option:hover {
  box-shadow: 0 0 10px 100px #e6f2ff inset;
  color: #333;
}


/* Patient Theme */
[data-theme="patient"] {
  --color-primary: #037347;
}

/* Doctor Theme */
[data-theme="doctor"] {
  --color-primary: #037347;
}

/* Lab Tech Theme */
[data-theme="lab_tech"] {
  --color-primary: #037347;
}

/* Pharmacist Theme */
[data-theme="pharmacist"] {
  --color-primary: #00BA8F;
}

/* Admin Theme */
[data-theme="admin"] {
  --color-primary: #037347;
}

/* Super Admin Theme */
[data-theme="super_admin"] {
  --color-primary: #037347;
}
