@import "tailwindcss";

@theme {
  --color-primary: #0f476c;
  --color-secondary: #50e3c2;
  --color-text-primary: #1b1a1a;
  --color-text-secondary: #282828;
  --color-active-primary: #0f476c1a;
  --color-inactive: #bcbcbc;
  --color-gray-light: #cdcdcd;
  --color-blue-dark: #28303f;
  --color-gray-dashboard: #3b3f4b;
  --color-green-success: #00a36c;
}
