@import "tailwindcss";

@theme {
  /* --color-primary: #0f476c; */
  --color-primary:#042c52;
  /* --color-primary:#053f8e; */
  --color-secondary: #50e3c2;
  --color-text-primary: #1b1a1a;
  --color-text-secondary: #282828;
  --color-active-primary: #0f476c1a;
  --color-inactive: #bcbcbc;
  --color-gray-light: #cdcdcd;
  --color-blue-dark: #28303f;
  --color-dashboard-gray: #E5E5E5;

}
